<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChadGPT</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>ChadGPT</h1>
            <div>
                <label for="model-select">Model:</label>
                <select id="model-select">
		    <option value="SurfChad">SurfChad</option>
		    <option value="FinedChad">FinedChad</option>
		    <option value="TalkChad" selected>TalkChad</option>
		</select>
                <button id="theme-toggle">🌙</button>
            </div>
        </header>
        <div class="chat-container">
            <div id="chat-log"></div>
            <div id="loading-ball"></div>
        </div>
        <footer>
            <div class="input-container">
                <input type="text" id="user-input" placeholder="Ask a question...">
                <button id="send-button">Send</button>
            </div>
                <p>ChadGPT is for informational purposes and is based on Islamic methodology of Salaf. Always consult a qualified scholar for critical religious matters.</p>
        </footer>
    </div>
</body>
</html>
